<form (submit)="addTodos(todoForm.value)" [formGroup]="todoForm">
    <div class="form-row">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" id="title" class="form-control"
        formControlName="title"
           [class.is-invalid]="todoForm.get('title').touched && todoForm.get('title').invalid"
           [class.is-valid]="todoForm.get('title').touched && todoForm.get('title').valid"
           >
           <small *ngIf="todoForm.get('title').touched && todoForm.get('title').invalid">
                <span *ngIf="todoForm.get('title').errors?.['required']" class="text-danger">Title is required</span>
                <span *ngIf="todoForm.get('title').errors?.['pattern']" class="text-danger">Invalid title</span>
           </small>
    </div>
    <div class="form-row">
        <label for="status" class="form-label">Status</label>
        <input type="text" name="status" id="status" class="form-control"
        formControlName="status">
           <small *ngIf="todoForm.get('status').touched && todoForm.get('status').invalid" class="text-danger">Status is required</small>
    </div>
    <!-- <div class="form-group" formGroupName="subTasks">
        <div class="form-row">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" id="name" class="form-control"
            formControlName="name">
        </div>
        <div class="form-row">
            <label for="description" class="form-label">Description</label>
            <input type="text" name="description" id="description" class="form-control"
            formControlName="description">
        </div>
    </div> -->
    
    <div class="form-row">
        <button [disabled]="todoForm.invalid" type="submit" class="btn btn-success">Save Todo</button>
        <button type="reset" class="btn btn-dark">Reset</button>
    </div>

</form>

<p>{{todoForm.value|json}}</p>
